
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<style>
    /*nha tai tro*/


    .brands .col-md-3 img {
        width: 250px;
        height: 250px;
        cursor: pointer;
        filter: grayscale(100%);
    }

        .brands .col-md-3 img:hover {
            filter: grayscale(0);
        }
</style>
<!-- slider -->
<div class="slider">
    <div class="slider-item">
        <img src="~/Assces/Anh/Banner_Slider/Banner.jpg" />
    </div>
    <div class="slider-item">
        <img src="~/Assces/Anh/Banner_Slider/banner1.jpg" />

    </div>
    <div class="slider-item">
        <img src="~/Assces/Anh/Banner_Slider/banner2.jpg" />

    </div>
</div>
<!-- end slider -->
<!-- section commit -->
<div class="section_commit ">
    <div class="row section-content align-items-center">
        <div class="col commit-item">
            <div class="commit-content">
                <div class="commit-icon">
                    <i class='bx bxs-car-mechanic'></i>
                </div>
                <div class="commit-tile">
                    <h4>FreeShip</h4>
                </div>
                <div class="commit-cmd">
                    <p>
                        Giao hàng
                        tận nơi khắp các tỉnh thành trên cả nước
                    </p>

                </div>
            </div>
        </div>
        <div class="col commit-item">
            <div class="commit-content">
                <div class="commit-icon">
                    <i class='bx bx-refresh'></i>
                </div>
                <div class="commit-tile">
                    <h4>hoàn tiền 100%</h4>
                </div>
                <div class="commit-cmd">
                    <p>Hoàn lại 100% tiền nếu không vừa ý hoặc lỗi từ nhà sản xuất (trong 7 ngày)</p>

                </div>
            </div>
        </div>
        <div class="col commit-item">
            <div class="commit-content">
                <div class="commit-icon">
                    <i class='bx bx-message-dots'></i>
                </div>
                <div class="commit-tile">
                    <h4>Hỗ trợ 24/7</h4>
                </div>
                <div class="commit-cmd">
                    <p>Đội ngũ tư vấn viên, chăm sóc khách hàng luôn sẵn sàng hỗ trợ 24/7</p>

                </div>
            </div>
        </div>

    </div>
</div>

<!-- end section commit -->







@*slider LOgo nha cung cung*@
@*slider LOgo nha cung cung*@
<div class="container brands mt-5 mb-4">
    <h2 class="title text-center">Nhà tài trợ</h2>
    <div class="row">
        <div class="col-md-3">
            <img src="~/Assces/Anh/logoNCC/bugatti-removebg-preview.png" />
        </div>
        <div class="col-md-3">
            <img src="~/Assces/Anh/logoNCC/FERRARI-removebg-preview.png" />
        </div>
        <div class="col-md-3">
            <img src="~/Assces/Anh/logoNCC/logo-bmw-3.png" />
        </div>
        <div class="col-md-3">
            <img src="~/Assces/Anh/logoNCC/672px-Lamborghini_Logo.svg-removebg-preview.png" />
        </div>
    </div>
</div>





@*@slider nhan xet*@
